.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 220);
}

.login {
  border-radius: 15px;
  width: 60%;
  height: 60%;
  // background-color: #1e1338;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;

  &__info {
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/banking-background-design_1223-62.jpg?w=2000");
    background-size: contain;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--register {
      margin-top: 3%;
      color: #8531A9;
    }

    mat-form-field {
      width: 55%;
    }
  }
}

